<%# <form action="/answer" data-turbo="false">
  <label for="question">Stupid Coaching</label>
  <input type="text" id="question" name="question">
  <input type="submit" value="Ask">
</form> %>

<form class="form" action="/answer" method="get">
    <h1> Stupid Coaching </h1>
    <p class="subheader">Ask your coach anything:</p>
    <div class="input-button">
        <input class="input" type="text" name="question">
        <input class="button" type="submit" value="Ask">
    </div>
</form>
